.central-modal .modal-wrapper {
  //align-self: center;
  max-height: 45%;
  max-width: 80%;
  border-radius: 15px;
}

.info-path-modal .modal-wrapper {
  max-height: 80%;
  max-width: 85%;
  border-radius: 15px;
}

.poi-modal .modal-wrapper {
  max-height: 55%;
  max-width: 85%;
  border-radius: 15px;
}

.rating-modal .modal-wrapper {
  max-height: 30%;
  max-width: 80%;
  border-radius: 15px;
}

.info-notification .modal-wrapper {
  max-height: 55%;
  max-width: 85%;
  border-radius: 15px;
}
