<ion-content scrollY="false">
  <ion-button (click)="present(notification)">open</ion-button>
  <div class="list_container">
    <div class="list_container_card">
      <app-home-card
        img="https://www.imgacademy.com/sites/default/files/2009-stadium-about.jpg"
        title="Titolo notifica"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor qui enim assumenda natus ratione sint?"
        data="19/11/2021"
      >
      </app-home-card>
    </div>
  </div>
</ion-content>
