.fullpage_column{
  width: 100%;
  height: 100%;
  background: var(--light-grey);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title_container{
    margin: 3% 3%;
    text-align: center;
    p{
      font-size: 18px;
      font-weight: 500;
      color: var(--light-black);
    }
}

.input_container{
  width: 80%;
}

.button_container{
    margin-top: 5%;
    width: 120px;
    height: 50px;
}

.icon-close {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  ion-icon {
    color: var(--ion-color-danger);
    width: 40px;
    height: 40px;
  }
}
