<div class="fullpage_column">
  <div class="icon-close">
    <ion-icon (click)="onClose()" name="close-circle"></ion-icon>
  </div>
  <div class="title_container">
    <p>to reset your password enter your e-mail here</p>
  </div>
  <div class="input_container"  [formGroup]="resetPasswordForm" >
    <app-input placeholder="Email" formControlName="email" 
        [isInvalid]="this.resetPasswordForm.get('email').dirty && this.resetPasswordForm.get('email').invalid"
        ></app-input>
  </div>
  <div class="button_container">
    <app-button (click)="onSendEmail()">Send e-mail</app-button>
  </div>
</div>
