<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon
        class="home"
        src="./../../../../assets/icons/home.svg"
      ></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="travel" class="travel">
      <ion-icon
        class="travel"
        src="./../../../../assets/icons/travel.svg"
      ></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon src="./../../../../assets/icons/profile.svg"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon src="./../../../../assets/icons/notifications.svg"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
