
/* Font */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: url('../../../assets/fonts/Nunito-ExtraLight.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 200;
    src: url('../../../assets/fonts/Nunito-ExtraLightItalic.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: url('../../../assets/fonts/Nunito-Light.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 300;
    src: url('../../../assets/fonts/Nunito-LightItalic.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    src: url('../../../assets/fonts/Nunito-Italic.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('../../../assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 600;
    src: url('../../../assets/fonts/Nunito-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('../../../assets/fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 700;
    src: url('../../../assets/fonts/Nunito-BoldItalic.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url('../../../assets/fonts/Nunito-ExtraBold.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    src: url('../../../assets/fonts/Nunito-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    src: url('../../../assets/fonts/Nunito-Black.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 900;
    src: url('../../../assets/fonts/Nunito-BlackItalic.ttf');
}
