.container {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  justify-content: space-between;

  &_text {
    color: var(--black);
    width: 90%;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
  }

  &_emoji {
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_button {
      background-color: var(--light-grey);
      width: 80px;
      height: 80px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      &_img {
        width: 45px;
        height: 45px;
      }
    }
  }

  &_btn {
    width: 100%;
    height: 4em;
  }
}

div:focus {
  background-color: var(--ion-color-primary);

  .container_emoji_button_img {
    filter: brightness(0) invert(1);
  }
}
