/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* CSS for Toaster */
@import "../src/assets/style/components/toaster";

/* Import Font */
@import "/src/assets/style/fonts/nunito.scss";

/* Leaflet */
@import "~leaflet/dist/leaflet.css";
@import "../src/assets/style/components/map";

/* Modal css*/
@import "/src/assets/style/modal/modals.scss";

/* Alert css */
@import "/src/assets/style/alert/alerts.scss";

/* CSS for Loader */
@import "../src/assets/style/components/loader";


/* Global */
* {
  font-family: "Nunito", sans-serif !important;
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}

ion-content {
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

