<div class="fullpage_column">
  <div class="icon-close">
    <ion-icon (click)="onClose()" name="close-circle"></ion-icon>
  </div>
  <div class="form-container" [formGroup]="changePasswordForm">
    <div class="form-container_input">
      <app-input
        placeholder="New Password"
        [type]="typePassword"
        nameIcon="{{ iconPassword }}"
        (iconClicked)="onshowPassword()"
        formControlName="password"
        [isInvalid]="this.changePasswordForm.get('password').dirty && this.changePasswordForm.get('password').invalid"
      ></app-input>
    </div>

    <div class="form-container_input">
      <app-input
        placeholder="Repeat New Password"
        [type]="typeCheck"
        nameIcon="{{ iconCheckedPassword }}"
        (iconClicked)="onshowCheckPassword()"
        formControlName="checkPassword"
        [isInvalid]="this.changePasswordForm.get('checkPassword').dirty && this.changePasswordForm.get('checkPassword').invalid"
      ></app-input>
    </div>
    <div class="form-container_button">
      <app-button color="light-grey" (click)="onChangePasswordClick()">Change Password</app-button>
    </div>
  </div>
</div>
