.drawer {
  position: absolute;
  width: 100vw;
  bottom: -66vh;
  height: 72vh;
  z-index: 11;
  background: var(--light-grey);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.container {
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;

  &_drawer-pull {
    background-color: var(--white-grey);
    width: 9em;
    height: 10px;
    border-radius: 5px;
  }
}

.list {
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  &_container {
    height: 63vh;
    max-width: 100%;

    &_card {
      margin: 0% 4% 3%;
    }
  }
}
